# Everything in this file will be upgraded *every* time the GUI runs

# Include everything the framework requires
# Using the custom fork with -noeac launch arg support.
# To switch back to upstream, replace with: rlbot==1.*
rlbot @ git+https://github.com/justoboy/RLBot.git#subdirectory=src/main/python

# Upgrade yourself!
rlbot_gui

# Chip's utilities - https://github.com/samuelpmish/RLUtilities/tree/master/RLUtilities
RLUtilities

# VirxERLU's C Library - https://github.com/VirxEC/VirxERLU
VirxERLU-CLib
